* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem; /*16px*/
    font-family: "Poppins", sans-serif;
}
/* Common */
.content {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a {
    text-decoration: none;
}
.btn {
    display: inline-block;
    min-width: 98px;
    padding: 18px 16px;
    background: var(--primary-color);
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
}
.btn:hover {
    opacity: 0.9;
}
/* header */
.header {
    position: relative;
    background: #e6f0ff;
    height: 100vh;
}
.navbar {
    display: flex;
    align-items: center;
    padding-top: 38px;
}
.navbar ul {
    display: flex;
    margin-left: 49.53px;
}
.navbar .action {
    margin-left: auto;
}
.navbar ul a {
    font-weight: 500;
    font-size: 1.4rem;
    color: #4f5361;
    padding: 8px 15px;
}
.navbar ul a:hover {
    text-decoration: underline;
}

.navbar .action-link {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--primary-color);
}
.navbar .action-btn {
    padding: 13px 16px;
    margin-left: 18px;
    border-radius: 8px;
}
.hero {
    margin-top: 130px;
}
.hero .info {
    width: 51%;
}
.hero .sub-title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #687690;
}
.hero .title {
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.19;
    /* or 119% */
    color: #000336;
    margin-top: 8px;
}
.hero .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #5a6473;
    margin-top: 30px;
}
.hero-cta {
    min-width: 170px;
    margin-top: 40px;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1110px) / 2 - 100px);
    bottom: 0;
    size: 90%;
}
/* ====== Client ===== */
.client {
    margin-top: 79px;
    padding: 43px 0 64px;
}
.client .row {
    display: flex;
    justify-content: space-between;
}
.client .desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.25;
    /* identical to box height, or 125% */
    color: #7d8589;
}
.client .row-desc {
    margin-top: 23px;
}
.client .images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 96px;
}
/* ====== Guides ===== */
.guides {
    margin-top: 40px;
    padding: 93px 0 79px;
}
.guides .sub-title {
    position: relative;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    text-align: center;
    color: #000339;
}
.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}
.guides .desc {
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    text-align: center;
    color: #5a6473;
}
.list-guide {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.guide-item {
    margin: 0 70px;
    text-align: center;
}
.guide-item .title {
    margin-top: 26px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1.1;
    color: #3b3c45;
}
.guide-item .link {
    display: inline-block;
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #0689ff;
}
.guide-item .arrow-right {
    margin-left: 6px;
}
.guide-cta {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.guide-cta .btn {
    min-width: 170px;
}
/* ====== Features ===== */
.features {
    margin-top: 41px;
    padding: 110px 0;
    background: #f5fafe;
}
.features .sub-title {
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1;
    color: #000339;
}
.features .row {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.features .desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    display: flex;
    align-items: flex-end;
    color: #5a6473;
}
.features .link {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.8rem;
    color: #0689ff;
}
.features .link .arrow-right {
    margin-left: 8px;
}
.features .list {
    display: flex;
    gap: 30px;
    margin-top: 70px;
}
.features .item {
    flex: 1;
    background: #ffffff;
    border-radius: 12px;
}
.features .item .thumb {
    width: 100%;
    height: 227px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.features .item .body {
    padding: 17px 20px 24px;
}
.features .item .title a {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #000339;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.features .item .desc {
    margin-top: 11px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #a3a6ab;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-all;
}
.features .item .info {
    display: flex;
    align-items: center;
    margin-top: 21px;
}
.features .item .icon {
    margin-left: 23px;
}
.features .item .icon:first-child {
    margin-left: 0;
}
.features .item .label {
    margin-left: 8px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #444444;
}
/* ====== Stat ===== */
.stat {
    margin-top: 75px;
    padding: 50px 0;
}
.stat .content {
    width: 1017px;
}
.stat .row {
    display: flex;
}
.stat .img-block,
.stat .info {
    width: 50%;
}
.stat .img-block {
    position: relative;
}
.stat .info {
    padding: 129px 0 0 165px;
}
.stat .stat-trend {
    position: absolute;
    top: 0;
    left: 0;
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0px 0px 12px 12px;
    background: #ffffff;
}
.stat-trend .value {
    font-weight: 700;
    font-size: 2.6rem;
    letter-spacing: 0.01em;
    color: #000339;
}
.stat-trend .icon {
    margin-left: auto;
}
.stat-trend .desc {
    margin-top: 8px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #a7a7a7;
}
.stat-trend .separate {
    height: 1.2px;
    margin-top: 25px;
    background: #e9e9e9;
}
.stat .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
}
.stat .sub-title {
    position: relative;
    width: 269px;
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 1.29;
    color: #000339;
}
.stat .sub-title::before {
    position: absolute;
    content: "";
    display: block;
    top: -10px;
    left: 0;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
}
.stat .info .desc {
    margin-top: 20px;
    width: 309px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #5a6473;
}
